<!-- <div class="jumbotron">
    <h1>Add Restaurant</h1>
</div> -->

<!-- <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Sucessfull!</strong> Your data is added successfully.
    <button (click)="closeAlert()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div> -->

<div *ngIf="alert" class="alert alert-success alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Sucessfull!</strong> Your data is added successfully.
</div>

<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Add Restaurant
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="addRestaurant" (ngSubmit)="createResto()">
        <p class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter Name" type="text" name="name" class="form-control" formControlName="name" pattern="[a-zA-Z ]*" required>
          </mat-form-field>
          <span *ngIf="!addRestaurant.get('name').valid && (addRestaurant.get('name').touched || addRestaurant.get('name').dirty)">
            Please enter a valid Name.
          </span>
        </p>
      
        <p class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput placeholder="Enter Address" type="text" name="address" class="form-control" formControlName="address" pattern="[a-zA-Z0-9 ,-]*" required>
          </mat-form-field>
          <mat-label *ngIf="!addRestaurant.get('address').valid && (addRestaurant.get('address').touched || addRestaurant.get('address').dirty)">
            Please enter a valid Address.
          </mat-label>
        </p>
      
        <p class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter Email" type="text" name="email" class="form-control" formControlName="email" required>
          </mat-form-field>
          <span *ngIf="!addRestaurant.get('email').valid && (addRestaurant.get('email').touched || addRestaurant.get('email').dirty)">
            Please enter a valid Email.
          </span>
        </p>
      
        <p class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Mobile</mat-label>
            <input matInput placeholder="Enter Mobile" type="mobile" name="mobile" class="form-control" formControlName="mobile" pattern="[0-9+]*" required>
          </mat-form-field>
          <span *ngIf="!addRestaurant.get('mobile').valid && (addRestaurant.get('mobile').touched || addRestaurant.get('mobile').dirty)">
            Please enter a valid Mobile Number.
          </span>
        </p>
      
        <button mat-raised-button color="primary" type="submit" matTooltip="Click to Add Restaurant" [disabled]="!addRestaurant.valid">Submit</button>
      
      </form>
    </mat-expansion-panel>
  </mat-accordion>

<br>
<button mat-raised-button color="primary" type="button" class="btn btn-primary" [routerLink]="'../list'" matTooltip="Click to view the Restaurant List">List Restaurant</button>
