<div class="jumbotron">
    <h1>Update Restaurants</h1>
</div>

<div *ngIf="alert" class="alert alert-success alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Update Sucessfull!</strong> Your data is updated successfully.
</div>

<form [formGroup]="editRestaurant" (ngSubmit)="updateResto()">
  <p class="form-group">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Enter Name" type="text" formControlName="name" required>
    </mat-form-field>
  </p>

  <p class="form-group">
    <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <input matInput placeholder="Enter Address" type="text" formControlName="address" required>
    </mat-form-field>
  </p>

  <p class="form-group">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Enter Email" type="email" formControlName="email" required>
    </mat-form-field>
  </p>

  <p class="form-group">
    <mat-form-field appearance="outline">
      <mat-label>Mobile</mat-label>
      <input matInput placeholder="Enter Mobile" type="mobile" formControlName="mobile" required>
    </mat-form-field>
  </p>

  <button mat-raised-button color="primary" type="submit" matTooltip="Click to update Restaurant details">Update</button>
</form>
<br>
<!-- <button type="button" class="btn btn-primary" [routerLink]="'../list'">List Restaurant</button> -->
<button mat-raised-button color="primary" type="button" [routerLink]="'/list'" matTooltip="Click to view the Restaurant List">List Restaurant</button>