<div class="jumbotron">
    <h1>Register User For Restaurant App</h1>
</div>

<!-- <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Sucessfull!</strong> Your data is added successfully.
    <button (click)="closeAlert()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div> -->

<div *ngIf="alert" class="alert alert-success alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Registration Sucessfull!</strong>
</div>

<form [formGroup]="createUser" (ngSubmit)="regUser()">
  <p class="form-group">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Enter Name" type="text" name="name" required>
    </mat-form-field>
  </p>
  
  <p class="form-group">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Enter Email" type="email" name="email" required>
    </mat-form-field>
  </p>

  <p class="form-group">
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Enter Password" type="password" name="password" required>
    </mat-form-field>
  </p>

  <button mat-raised-button color="primary" type="submit" matTooltip="Click to complete user Registration">Submit</button>
</form>